* {
    font-family: lucida sans regular, sans-serif;
    margin: 0%;
    box-sizing: border-box;
}

/* Grids */
.container {
    display: grid;
    grid-template-areas:
        " top  top  top  top  top"
        "main main main main side"
        "main main main main side"
        "main main main main side"
        "foot foot foot foot foot";
}

.containerHoraire {
    display: grid;
    grid-template-areas:
        " top  top  top  top  top"
        "horR horR horR horR horR"
        "horR horR horR horR horR"
        "horR horR horR horR horR"
        "foot foot foot foot foot";
    overflow: none;
}

.HoraireGrid {
    display: grid;
    grid-template-areas:
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri"
        "mon tue wed thu fri";
    border-collapse: collapse;
    border: #d31d75 5px solid;
    padding: auto;
    color: #fff;
    background-color: #030303;
    grid-area: horR;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
}
/* Top All */
.top {
    width: 100vw;
    height: 10vh;
    grid-area: top;
    background-color: #0B090A;
    color: #fff;
    z-index: 0;
    font-size: 2vmax 1vmin;
}

a {
    text-decoration: none;
    color: #fff;
}

.toplinks {
    padding: 0vw 3vw 3vw 0.5vw;
    margin: 0.1vw;
    text-align: center;
    float: left;
}
img {
    border-radius: 50%;
    width: 10vh;
    float: right;
    margin: 0px 50px;
    border: #fff solid 5px;
}

img:hover {
    border: #d31d75 5px solid;
    box-shadow: #d73583 0 0 10px 1px;
}

 /* Footer All */
footer {
    width: 100vw;
    height: 10vh;
    background-color: #030303;
    color: #fff;
    border-right: #d31d75 10px solid;
    text-align: right;
    padding: 2vmin;
    grid-area: foot;
    font-size: 2vmax 1vmin;
    z-index: 1;
}

/* indexes */
.Mainindex {
    width: 85vw;
    height: 80vh;
    border-right: 5px #d31d75 solid;
    border-top: 5px solid #d31d75;
    border-top-right-radius: 200px;
    box-shadow: 60px -60px 0 0 #0B090A;
    border-bottom: #d31d75 5px dashed;
}



aside {
    width: 15vw;
    height: 80vh;
    margin: 0vh auto;
    background-color: #0B090A;
    padding: 25vh 0vh;
    grid-area: side;
    border-bottom: #d31d75 10px solid;
}

ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

#linklist {
    color: #fff;
    width: fit-content;
    margin-top: 10vh;
}

#mainlist {
    color: black;
}

.asidelinks::before {
    content: "";
    border-color: transparent #d31d75;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
    z-index: 0;
}

.asidelinks:hover::before {
    content: "";
    border-color: transparent #d31d75;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.90em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

h4 {
    text-align: left;
    margin: 1vh;
}

h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 1vmin 2vmax;
    border: #fff 2px solid;    
}
.HoraireListItems {
    width: auto;
    height: 5vw;
    font-size: 1.5vw;
    padding: 10px;
    border: #fff 2px solid;
    margin: 0%;
    align-content: center;
    text-align: center;
}
.HoraireListItems:hover{
    color: #000;
    background-color: #d31d75;
}